/*------General-------*/
ul{
  list-style-type: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: monospace;
  min-height: 100vh;
  display: flex;
}
h1{
  text-align: center;
  padding: 10px 25px;
}


/*-------ASIDE------*/

aside{
  background: #333;
  color: #eee;
  width: 30%
}

aside h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}
aside section h2:first-child{
  border-bottom: 2px solid white;
}

 #profile img{
   border-radius: 20%;
 }
 /*-------MAIN-------*/
main{
  background: #eee;
  color: #333;
  align: left;
  width: 70%
}
.hero{
  background-color: #8E87E8;
  background-position: center;
}
.hero h{
  color: white;
  border-top: 2px solid;
}
