body{
  padding: 0px;
  margin-left: 180px;
  margin-right: 180px;
  font-family: sans-serif;
  background-image: url(cal.webp);
}
.carcasa{
  background-color: rgba(255, 80, 80,0.5);
  width: 500px;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  border-radius: 45px;
}
.pantalla{
  padding: 18px 18px 0px 18px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;

}
#resultado{
  background-color: rgba(255, 255, 255,0.9);
  padding: 9px;
}
.Fila0 {
  padding: 10px 20px 0px 20px; /*arriba- derecha- abajo- izquierda*/
}
.Fila1 {
  padding: 10px 20px 0px 20px; /*arriba- derecha- abajo- izquierda*/
}
.Fila2 {
  padding: 10px 20px 0px 20px; /*arriba- derecha- abajo- izquierda*/
}
.Fila3 {
  padding: 10px 20px 0px 20px; /*arriba- derecha- abajo- izquierda*/
}
.Fila4 {
  padding: 10px 20px 10px 20px; /*arriba- derecha- abajo- izquierda*/
}
.botones button{
  transition-duration: 0.9s;
  border-radius: 45px;
}
.botones button:hover{ /*le da la sombra a los botones */
  background-color: #800000;
  color: white;
}
button{
  margin: 2px;
  padding: 15px 24px;
  font-size: 20px;
  border: none;
}
