
body {
    background-color: #4B4949;
}

@font-face {
  font-family: 'miFuente2';
  src: url(Murberry.otf);
}
h1{
  text-align: center;
  font-family: 'miFuente2';
  font-size: 60px;
  color: #1970A7;
  letter-spacing: 15px;
}
/* Estilo para el canvas: Negro */
#canvas {
    background-image: url(lilo.gif);
    background-color: grey;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

button{
  text-decoration: none;
  padding: 20px;
  height: 60px;
  font-size: 20px;
  color: #ffffff;
  background-color: #0E517B;
  border-radius: 10%;
  border:none;
  text-align: center;
  font-family: 'miFuente2'
}
.botones{
  text-align: center;
}
p{
  text-align: center;
  color: pink;
  border: none;
  font-family:monospace;
  font-size: 20px;
}
